@import "../../theme/theme.scss";

.fixed-img {
  width: 100%;
  height: 70%;

  background-color: red;
  img {
    width: 100%;
    object-fit: cover;
    // filter: brightness(.5);
  }
  position: relative;
}
.header-text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 40px;
  font-weight: 700;
  background-color: #23272a58;
  color: white;
  padding: 20px;
  .login {
    width: max-content;
    cursor: pointer;
    a {
      text-decoration: none;
      color: inherit;
    }
    &:hover {
      background-color: #23272aac;
    }
  }
  // @include labtop {
  //   font-size: 25px;
  //   top: 60%;
  //   left: 50%;
  //   transform: translate(-50%, -60%);
  //   .login {
  //     font-size: 15px;
  //   }
  // }
  // @include tablet {
  //   font-size: 18px;
  //   top: 60%;
  //   left: 50%;
  //   transform: translate(-50%, -60%);
  //   background-color: #23272a7a;
  // }
  @include mobile {
    background-color: #23272a7a;
    .login {
      font-size: 35px;
    }
  }
}
